.creditsWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditsContent {
  padding-left: 10rem;
  width: 100%;
}

.creditsContent a {
  color: black;
}

.creditsContent span {
  font-size: 0.6rem;
}
