.creditsWrapper {
  background-color: #141042;
  color: #fbf58a;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditsContent {
  text-align: center;
  margin-bottom: 2rem;
}

.creditsContent a {
  color: #fbf58a;
  font-weight: bold;
  text-decoration: none;
}

.creditsContent span {
  font-size: 0.6rem;
}

.creditsLogo {
  margin: 3rem;
  max-height: 28vh;
}

@media screen and (max-width: 640px) {
  .creditsLogo {
    margin: 1rem;
    max-width: 80%;
  }
  .creditsContent {
    padding: 1rem;
  }
}
