.questionLink {
  width: 100%;
}

.button {
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  border: 1px solid #0a0124;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #0a0124;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 100%;
  transition: all 0.35s ease 0s;
}

.button:hover {
  background: #0a0124;
  color: #fff;
}
