.homeWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeWrapper a {
  text-decoration: none;
  color: black;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
