.sectionWrapper {
  background-color: #141042;
  color: #fbf58a;
  width: 80%;
  max-width: 1066px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  box-sizing: border-box;
  margin-bottom: 6rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helperTextBonus {
  margin: 0;
  font-size: 0.7rem;
}

.backButton {
  background: #141042;
  color: #fbf58a;
  font-weight: bold;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 2px solid #fbf58a;
  transition: all 0.35s ease 0s;
  text-decoration: none;
  cursor: pointer;
}

.backButton:hover {
  background: #fbf58a;
  color: #141042;
}

@media screen and (max-width: 640px) {
  .sectionWrapper {
    width: 100%;
  }
  .section {
    padding: 2rem;
  }
  .question {
    font-size: 1.5rem;
  }
}
