.section {
  background-color: #fff;
  box-sizing: border-box;

  padding: 1rem 4rem 2rem 4rem;
  border: 1px solid grey;
  min-height: 30vh;
  width: 80%;
  max-width: 1066px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
